.cria-container {
  width: 90%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  margin-top: 30px;

  display: flex;
}

.cria-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 10px;
}

.cria-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.warning{
  color: red
}

